.navList {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.navLink,
.navLink:visited {
  color: inherit;
  text-decoration: none;
}

.navItem {
  font-size: 1.3em;
  margin-right: 1em;
  margin-left: 1em;
  text-shadow: var(--stalux-text-shadow);
}
