# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# 忽略所有 posts 下的 Markdown 文件
content/posts/*.md

# 但保留特定的文件（用 ! 来取消忽略）
!content/posts/1.md
!content/posts/2.md
!content/posts/3.md