---
import styles from "@styles/components/common/date.module.css";
---

<div id={styles["date-time"]} class="date-time" transition:persist-props>
    <time id={styles["date"]} data-ref="date" datetime=""></time>
    <time id={styles["time"]} data-ref="time" datetime=""></time>
</div>

<script>
    import dayjs from "dayjs";
    import "dayjs/locale/zh-cn";
    dayjs.locale();
    function updateDateTime() {
        const now = dayjs();
        const dateEl = document.querySelector('[data-ref="date"]');
        const timeEl = document.querySelector('[data-ref="time"]');
        if (dateEl) {
            dateEl.textContent = now.format("YYYY年MM月DD日");
            dateEl.setAttribute("datetime", now.format("YYYY-MM-DD"));
        }
        if (timeEl) {
            timeEl.textContent = now.format("HH:mm:ss");
            timeEl.setAttribute("datetime", now.format("HH:mm:ss"));
        }
    }
    document.addEventListener("astro:page-load", () => {
        updateDateTime();
        setInterval(updateDateTime, 1000); // 1s更新
    });
</script>
