.h1 {
  margin-top: 1.5em;
  text-align: center;
  text-shadow: var(--stalux-text-shadow);
  font-size: 2.5em;
}
.description {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
}

.archivesContainer {
  max-width: 1000px;
  margin: 0 auto; /* 水平居中 */
  padding: 2rem 1rem;
}
