#date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  text-shadow: var(--stalux-text-shadow);
  #date {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  #time {
    font-size: 3em;
  }
}
