.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 100%;
}

.homeTitle {
  font-size: 4em;
  margin-top: 1.5em;
  text-shadow: var(--stalux-text-shadow);
  text-align: center;
}

.homeNavs {
  display: flex;
}

#showPostList {
  margin-top: 2em;
  font-size: 1.5em;
  cursor: pointer;
  text-shadow: var(--stalux-text-shadow);
}
