.typeWriter {
  font-size: 2.5em; /* 放大字体 */
  margin-top: 1.5em;
  text-shadow: var(--stalux-text-shadow);
  text-align: center; /* 确保水平居中 */
  display: flex;
  justify-content: center; /* 额外确保居中，如果需要 */
  width: 100%;
  min-height: 2em;
}
