---
import style from "@styles/components/posts/postRight.module.css";
import Date from "@components/stalux/common/date.astro";
import PostToc from "@components/stalux/posts/postToc.astro";
interface Props {
    headings?: Array<{ depth: number; slug: string; text: string }>;
    tags?: string[];
    categories?: string[];
}

const { headings = [], tags = [], categories = [] } = Astro.props;
---

<aside class={style.rightSidebar}>
    <div class={style.sidebarContainer}>
        <Date />
    </div>
    <div class={style.sidebarContainer}>
        <PostToc headings={headings} />
    </div>
</aside>
