@font-face {
  font-family: 'DouyinSans';
  src: url('../fonts/DouyinSansBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'DouyinSans';
}