---
import { config_site } from "../utils/config-adapter";

---
<!DOCTYPE html>
<html lang={config_site.lang}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{config_site.title + '||' + '归档'}</title>
</head>

<body>
    
</body>

</html>