---
import '../styles/global.css';
import Head from '../components/Head.vue';
import { site } from "../consts";
import Main from '../components/Main.vue';
import Footer from '../components/Footer.vue';

const title = "首页";
const description = "这是首页的描述";
---
<html lang="zh-cn">
  <Head title={title} description={description} url={site.url} />
  <body>
	<Main>
  </body>
  <Footer>
</html>