---
import { getCollection } from "astro:content";
const stalux = (await getCollection("config"))[0].data;
import Stalux from "@layouts/Stalux.astro";
import styles from "@styles/pages/home.module.css";
import Navs from "@components/stalux/layout/navs.astro";
import Author from "@components/stalux/common/author.astro";
import TextType from "@components/stalux/common/textType.astro";
import DateTime from "@components/stalux/common/date.astro";
import SocialMedia from "@components/stalux/links/socialMedia.astro";
import ToArchive from "@components/stalux/archives/toArchive.astro";
---

<Stalux
  stalux={{
    title: stalux.title,
    description: stalux.description,
    url: Astro.url.href,
    twitterSite: stalux.twitterSite,
    noindex: stalux.noindex,
    nofollow: stalux.nofollow,
    anyhead: stalux.anyhead,
  }}
>
  <div class={styles.homeBody}>
    <h1 class={styles.homeTitle}>{stalux.title}</h1>
    <div class={styles.homeNavs}>
      <Navs />
    </div>
    <Author />
    <TextType />
    <DateTime />
    <SocialMedia />
    <ToArchive />
  </div>
</Stalux>
