---
import LinkList from "@components/stalux/linkList.astro";
import Navs from "@components/stalux/navs.astro";
import Stalux from "@layouts/Stalux.astro";
import { getCollection } from "astro:content";
import styles from "@styles/links.module.css";
const stalux = (await getCollection("config"))[0].data;
---

<Stalux
    stalux={{
        title: stalux.title,
        description: stalux.description,
        url: Astro.url.href,
        twitterSite: stalux.twitterSite,
        noindex: stalux.noindex,
        nofollow: stalux.nofollow,
        anyhead: stalux.anyhead,
    }}
>
    <div style="height: 2em;"></div>
    <Navs />
    <h1 class={styles.title}>{stalux.links.title}</h1>
    <div class={styles.description}>{stalux.links.description}</div>
    <LinkList />
</Stalux>
