---
import styles from "@styles/postList.module.css";
import { getCollection } from "astro:content";
import PostCard from "@components/stalux/postCard.astro";
const posts = await getCollection("posts");
---

<div data-stalux="postlist" class={styles["container"]}>
    <ul class={styles["post-list"]}>
        {
            posts.map((post) => (
                <li>
                    <PostCard post={post} />
                </li>
            ))
        }
    </ul>
</div>
