/* 页面标题部分 */
.pageHeader {
  margin-bottom: 2.5rem;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--white-10p);
  margin: 3em;
}

.pageHeader .pageTitle {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--white-full);
}

.pageHeader .pageTitle .categoryIcon {
  margin-right: 0.8rem;
  color: var(--accent-80p);
}

.pageHeader .pageTitle .categoryName {
  color: var(--accent-90p);
  font-weight: 500;
}

.pageHeader .pageDescription {
  font-size: 1rem;
  color: var(--white-70p);
  margin-bottom: 0.5rem;
}

.pageHeader .backLink {
  font-size: 0.9rem;
  color: var(--white-60p);
  text-decoration: none;
  display: inline-block;
  transition: all var(--transition-fast) ease;
}

.pageHeader .backLink:hover {
  color: var(--accent-90p);
}
