.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--color-border);
  margin-top: 4em;
}

.authorFigure {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 50%;
    transition: transform 1s ease;
    box-shadow: 0 0 10px var(--stalux-accent-color);
  }

  img:hover {
    transform: rotate(360deg);
  }

  figcaption {
    margin-left: 1em;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: var(--stalux-text-shadow);
    color: var(--white-full);
  }
}

.figureColumn {
  flex-direction: column;
}

.figureColumn figcaption {
  margin-left: 0;
  margin-top: 0.5em;
  text-align: center;
}
