@layer components {
    /* home */

    #stalux-home-show-post-list {
        @apply cursor-pointer;
        margin-top: 3em;
        font-size: 1.5em;
        @apply stalux-glow;
    }
    @media (max-width: 768px) {
        .stalux-home-body {
            @apply w-full box-border;
            height: auto;
            padding: 2rem 0.5rem 1.5rem 0.5rem;
            max-width: 95vw;
        }
        .stalux-home-title {
            font-size: 2em;
            margin-top: 1em;
            word-break: break-all;
        }
        .stalux-home-navs {
            @apply flex-col items-center;
            gap: 0.5em;
        }

        .stalux-home-navs nav {
            @apply w-full;
        }
        #stalux-home-show-post-list {
            margin-top: 2em;
            font-size: 1.1em;
        }
    }
}
