.container {
    width: 100%;
    height: auto;
    margin: 5px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0;
        margin: 3em;
        list-style: none;
    }

    @media (max-width: 768px) {
        ul {
            margin: 1rem;
        }
    }

    ul > li {
        width: calc((100% - 2rem) / 2); /* 每行两列，减去一个 gap */
        margin: 0;
    }

    /* 一列布局：屏幕宽度不足以放下两列时 */
    @media (max-width: 50rem) {
        ul > li {
            width: 100%;
        }
    }
}
