.container {
    width: 100%;
    height: auto;
    margin: 5px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0;
        margin: 3em;
        list-style: none;
    }

    @media (max-width: 768px) {
        ul {
            margin: 1rem;
        }
    }

    ul > li {
        flex: 1 1 22rem; /* 最小宽度 22rem，自动填充每行 */
        margin: 0;
    }
}
