---
import Footer from '../components/Footer.vue';
import Head from '../components/Head.vue'
import Header from "../components/Header.vue";
import Main from '../components/Main.vue'
---
<html lang="zh-cn">
        <Head/>
    <body>
        <Header/>
            <Main/>
        <Footer/>
    </body>
</html>